<div class="wrapper">
   <div class="parent">
    <figure>
       <div class="card-img-top">
        <img src="./img/warming.jpg" alt="manufactures">
        </div>
    <figcaption><h2>Ruining The World</h2></figcaption>
    </figure>
    <figure>
       <div class="card-img-top">
        <img src="./img/sinking.jpg" alt="globalwarming">
        </div>
    <figcaption><h2>End Of World</h2></figcaption>
    </figure>
    <figure>
       <div class="card-img-top">
        <img src="./img/alien.jpg" alt="alien">
        </div>
    <figcaption><h2>Alien Picture</h2></figcaption>
    </figure>
    <figure>
       <div class="card-img-top">
        <img src="./img/shangahi.jpg" alt="shangahi">
        </div>
    <figcaption><h2>Shangahi</h2></figcaption>
    </figure>
    <figure>
       <div class="card-img-top">
        <img src="./img/strangeworlds.jpg" alt="Strange Worlds">
        </div>
    <figcaption><h2>Strange Worlds</h2></figcaption>
    </figure>
    <figure>
       <div class="card-img-top">
        <img src="./img/virtualReality.jpg" alt="Virtual Reality">
        </div>
    <figcaption><h2>Virtual Reality</h2></figcaption>
    </figure>
</div>
</div>